<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ object.name }}</title>
</head>
<body>
<img src="{{ object.photo }}" alt="{{ object.name }}">
<p>{{ object.name }}</p>
<p>{{ object.height }}</p>
<p>{{ object.weight }}</p>
<p>{{ object.constellation }}</p>
<p>{{ object.birthday }}</p>
<p>{{ object.birth_place }}</p>
<p>{{ object.biography|linebreaksbr }}</p>
{% for collaborator in object.collaborators %}
    <a href="{% url 'actor' collaborator.id %}">
        <img src="{{ collaborator.photo }}" alt="{{ collaborator.name }}">
        <p>{{ collaborator.name }}</p>
    </a>
{% endfor %}
</body>
</html>