<form action="{% url 'search' %}">
    <label>
        分类
        <select name="type">
            <option value="movie"{% if request.GET.type == 'movie' %} selected{% endif %}>电影</option>
            <option value="actor"{% if request.GET.type == 'actor' %} selected{% endif %}>演员</option>
            <option value="review"{% if request.GET.type == 'review' %} selected{% endif %}>影评</option>
        </select>
    </label>
    <label>
        请搜索：
        <input type="text" name="q" value="{{ request.GET.q }}"/>
    </label>
    <input type="submit" value="搜索"/>
</form>