{% if page_obj.has_other_pages %}
    <nav id="paginator">
        {% if page_obj.has_previous %}
            <button aria-label="prev"
                    class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-btn-icon mdui-color-theme-accent mdui-ripple extend prev"
                    onclick="navigate({{ page_obj.previous_page_number }})">
                <i class="mdui-icon material-icons">arrow_back</i>
            </button>
        {% endif %}

        {% if page_obj.has_next %}
            <button aria-label="next"
                    class="mdui-btn mdui-btn-raised mdui-btn-dense mdui-btn-icon mdui-color-theme-accent mdui-ripple extend next"
                    onclick="navigate({{ page_obj.next_page_number }})">
                <i class="mdui-icon material-icons">arrow_forward</i>
            </button>
        {% endif %}

        <div id="pageButtons">

            {% if page_obj.number > 3 %}
                <button class="mdui-btn mdui-btn-icon front" onclick="navigate(1)">1</button>
            {% endif %}

            {% for index in page_obj.paginator.page_range %}
                {% if page_obj.number|add:'-3' < index and index < page_obj.number|add:'6' %}
                    <button class="mdui-btn mdui-btn-icon{% if page_obj.number == index %} mdui-color-theme-accent mdui-ripple{% endif %}"
                            {% if page_obj.number != index %}onclick="navigate({{ index }})"{% endif %}>{{ index }}</button>
                {% endif %}
            {% endfor %}

            {% if page_obj.number|add:'5' < page_obj.paginator.num_pages %}
                <button class="mdui-btn mdui-btn-icon end"
                        onclick="navigate({{ page_obj.paginator.num_pages }})">{{ page_obj.paginator.num_pages }}</button>
            {% endif %}

        </div>
    </nav>

    <div class="mdui-textfield mdui-textfield-expandable mdui-center">
        <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
            <i class="mdui-icon material-icons">exit_to_app</i>
        </button>
        <form>
            {% if request.GET.type %}
                <input type="hidden" name="type" value="{{ request.GET.type }}"/>
            {% endif %}
            {% if request.GET.q %}
                <input type="hidden" name="q" value="{{ request.GET.q }}"/>
            {% endif %}
            <input class="mdui-textfield-input" type="text" name="page" placeholder="你要到哪里去呀"/>
        </form>
        <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
            <i class="mdui-icon material-icons">close</i>
        </button>
    </div>

    <script>
        function navigate(page) {
            {% if request.GET.type and request.GET.q and request.GET.type != '' and request.GET.q != '' %}
                window.location = "?type={{ request.GET.type }}&q={{ request.GET.q }}&page=" + page;
            {% else %}
                window.location = "?page=" + page;
            {% endif %}
        }
    </script>
{% endif %}