{% if page_obj.has_other_pages %}
    <ul>

        {% if page_obj.has_previous %}
            <li>
                <a href="?type={{ request.GET.type }}&q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">
                    <span>&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% if page_obj.number > 3 %}
            <li>
                <a href="?type={{ request.GET.type }}&q={{ request.GET.q }}">1</a>
            </li>
        {% endif %}

        {% for index in page_obj.paginator.page_range %}
            {% if page_obj.number|add:'-3' < index and index < page_obj.number|add:'6' %}
                <li>
                    <a class="page-link{% if page_obj.number == index %} selected{% endif %}"
                       href="?type={{ request.GET.type }}&q={{ request.GET.q }}&page={{ index }}">{{ index }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.number|add:'5' < page_obj.paginator.num_pages %}
            <li>
                <a href="?type={{ request.GET.type }}&q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}

        {% if page_obj.has_next %}
            <li>
                <a href="?type={{ request.GET.type }}&q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">
                    <span>&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>

    <form>
        <input type="hidden" name="type" value="{{ request.GET.type }}"/>
        <input type="hidden" name="q" value="{{ request.GET.q }}"/>
        <label>
            跳转到：
            <input type="text" name="page"/>
        </label>
        <input type="submit" value="跳转"/>
    </form>
{% endif %}