{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    {% include 'head.html' %}
    <title>搜索结果</title>
    <link rel="stylesheet" href="{% static 'paginator.css' %}">
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink mdui-theme-layout-auto mdui-loaded">
{% include 'header.html' %}
<div class="mdui-container main-content">
    <p>找到{{ page_obj.paginator.count }}条结果，用时{{ time }}s</p>
    {% if hasBrief %}
        {% for result in page_obj %}
            <div class="mdui-card mdui-hoverable" style="margin: 30px;">
                <div class="mdui-card-content" style="flex-direction: row">
                    <div class="mdui-container-fluid">
                        <div class="mdui-row">
                            <div class="mdui-col-xs-3">
                                <a href="{{ result.href }}">
                                    <img src="{{ result.img }}" alt="{{ result.title }}" width="170">
                                </a>
                            </div>
                            <div class="mdui-col-xs-9 mdui-typo">
                                <div class="mdui-typo-title">
                                    <a href="{{ result.href }}">{{ result.title }}</a>
                                </div>
                                <div class="brief">{{ result.brief }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <script>
            $(() => {
                const texts = $('.brief');
                const keyword = "{{ request.GET.q }}";
                texts.each((_, text) => {
                    const str = text.innerHTML;
                    if (str.indexOf(keyword) !== -1) {
                        text.innerHTML = str.split(keyword).join("<span class='mdui-text-color-theme-accent'>" + keyword + "</span>");
                    }
                });
            });
        </script>
    {% else %}
        <div class="mdui-container-fluid">
            <div class="mdui-row-xs-4 mdui-grid-list">
                {% for result in page_obj %}
                    <div class="mdui-col">
                        <div class="mdui-card mdui-hoverable" style="margin: 20px; width: 200px;">
                            <div class="mdui-card-media">
                                <a href="{{ result.href }}">
                                    <img src="{{ result.img }}" alt="{{ result.title }}">
                                </a>
                            </div>
                            <div class="mdui-card-primary">
                                <div class="mdui-card-primary-title">
                                    <div class="mdui-typo" style="text-align: center;">
                                        <a href="{{ result.href }}">{{ result.title }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% include 'paginator.html' %}
</div>
</body>
</html>